.common-navbar-wrapper {
    width: 100%;
}

.common-navbar {
    display: flex;
    flex-direction: row;
    height: 42px;
    min-width: fit-content;
    background-color: var(--colors-backgroundAlt);
    margin-bottom: 0;
    justify-content: center;


    .single-common-navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
        list-style: none;
        padding: 0 10px;
        list-style: none;
        
        &:hover {
            background-color: var(--colors-tertiary);
            cursor: pointer;
        }

        & .submenu-links {
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            color: var(--colors-textSubtle);
        }
    }

   
    .link-highlighted {
        position: relative;
       
        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 4px;
            width: 100%;
            background-color: var(--colors-primary);
            border-radius: 2px 2px 0px 0px;
        
        }
        & .submenu-links {
            color: var(--colors-secondary);
            font-weight: 700;
        }
    }
}

