.shape {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.shape-one {
  background: var(--colors-gradientBlue);
  left: 15%;
}

.shape-two {
  background: var(--colors-gradientViolet);
  top: 50%;
  left: 65%;
}

.form-container {
  z-index: 3;
  color: var(--colors-secondary);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 30px;
  background: var(--colors-light-gradientBlue);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgb(8 7 16 / 18%);
  width: 50%;
  border-radius: 30px;
  min-width: 250px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 200px;
  width: 100%;

  & .form-title h1 {
    font-weight: 700;
    text-align: center;
    font-size: 26px;
  }

  & input {
    border: 2px solid var(--colors-textSubtle);
    border-radius: 8px;
    padding: 10px;

    &:focus-visible {
      outline: none;
    }
  }

  & > .label-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    & label {
      font-weight: 700;
    }
  }

  & > .form-btn-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;

    & > button {
      color: var(--colors-invertedContrast);
      background-color: var(--colors-primary);
      padding: 10px 16px;
      border-radius: 16px;
      box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      width: 80%;
      min-height: fit-content;
    }
  }
}
