.finished-card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
  // position: relative;
  z-index: 2;
  // bottom: 70px;

  img {
    width: 90px;
    // position: absolute;
    // margin-right: 350px;
    display: none;
  }

  .card-finished {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 335px;
    height: 170px;
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
    border-radius: 24px;
    gap: 10px;

    .box-1 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      svg {
        fill: #ffb237;
      }

      .finished-text {
        font-weight: 600;
        font-size: 40px;
        color: white;
        text-shadow: 4px 4px 4px black;
      }
    }

    .connect-wallet {
      margin: 0;
      width: 180px;
      height: 48px;
      color: white;
      background-color: rgb(31, 199, 212);
      border: none;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 600;
      box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px;

      &:hover {
        opacity: 75%;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 852px) {

  .finished-card-2 {

    width: 500px;

    img {
      display: block;
      width: 182px;
      height: 214px;
      position: relative;
      left: 67px;
    }
  }
}
