.total-cont {
  background: var(--colors-background);
}
.total-cont .accordion,
.total-cont button {
  width: 90%;
  margin: auto;
}
.total-cont .accordion .accordion-item,
.total-cont button .accordion-item {
  background: var(--colors-dropdown);
  border: none;
}
.total-cont .accordion .accordion-item .accordion-table,
.total-cont button .accordion-item .accordion-table {
  background: var(--colors-dropdown);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header,
.total-cont button .accordion-item .accordion-table .accordion-header {
  border-color: var(--colors-dropdown);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header button,
.total-cont button .accordion-item .accordion-table .accordion-header button {
  gap: 80px;
  margin-left: 0px;
  align-content: center;
  background: var(--colors-dropdown);
  border-top-left-radius: var(--colors-dropdown);
  border-top-right-radius: var(--colors-dropdown);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header button:focus,
.total-cont button .accordion-item .accordion-table .accordion-header button:focus {
  border-color: none;
  box-shadow: none;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header button::after,
.total-cont button .accordion-item .accordion-table .accordion-header button::after {
  background-image: var(--bs-accordion-btn-active-icon);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c {
  display: flex;
  width: 30%;
  align-items: center;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .title-accordion,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .title-accordion {
  display: flex;
  gap: 5px;
  min-width: 120px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .title-accordion h2,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .title-accordion h2 {
  color: var(--colors-text);
  font-weight: bold;
  font-size: large;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .title-accordion .title-icon img,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .title-accordion .title-icon img {
  width: 25px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted {
  display: flex;
  gap: 15px;
  min-width: 150px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted .core,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted .core {
  border: 2px solid var(--colors-secondary);
  border-radius: 20px;
  color: var(--colors-secondary);
  font-size: smaller;
  width: 60px;
  display: flex;
  align-items: center;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted .boosted,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted .boosted {
  border: 2px solid var(--colors-success);
  border-radius: 20px;
  width: 80px;
  color: var(--colors-success);
  font-size: smaller;
  display: flex;
  align-items: center;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted .boosted2,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted .boosted2 {
  display: none;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 {
  display: flex;
  width: 40%;
  gap: 50px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-earned,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-earned {
  color: var(--colors-textSubtle);
  width: 8%;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up {
  display: flex;
  width: 150px;
  gap: 10px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-apr,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-apr {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--colors-text);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-apr .apr,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-apr .apr {
  display: flex;
  color: var(--colors-textSubtle);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to {
  display: flex;
  flex-direction: row;
  color: var(--colors-success);
  font-weight: bold;
  margin-top: 23px;
  width: 200px;
  gap: 10px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc {
  display: flex;
  gap: 5px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc .up-to,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc .up-to {
  display: flex;
  width: 65px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc .up-to2,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc .up-to2 {
  display: none;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc .perc2,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-apr-up .cont-n-up-to .up-to-perc .perc2 {
  display: none;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-liqui,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-liqui {
  width: 15%;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-liqui .liquidity,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-liqui .liquidity {
  color: var(--colors-textSubtle);
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-liqui .price-cont,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 .cont-liqui .price-cont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--colors-text);
  font-weight: bold;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-multi,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-multi {
  width: 15%;
  color: var(--colors-textSubtle);
  font-weight: bold;
  margin-bottom: 5px;
}
.total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-multi .n-x-svg,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-multi .n-x-svg {
  color: var(--colors-text);
}
.total-cont .accordion .accordion-collapse,
.total-cont button .accordion-collapse {
  height: 100%;
  background: var(--colors-dropdown);
  width: 100%;
}
.total-cont .accordion .accordion-collapse .accordion-body,
.total-cont button .accordion-collapse .accordion-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.total-cont .accordion .accordion-collapse .accordion-body .left-link,
.total-cont button .accordion-collapse .accordion-body .left-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  color: var(--bs-link-color);
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll,
.total-cont button .accordion-collapse .accordion-body .cont-coll {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont {
  margin-top: 8px;
  width: 48%;
  border: 1px solid var(--colors-input);
  border-radius: 15px;
  min-height: 130px;
  padding: 10px;
  color: rgb(125, 113, 172);
  font-weight: 600;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cake-earned-title,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cake-earned-title {
  display: flex;
  gap: 5px;
  font-size: 12px;
  margin-top: 10px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cake-earned-title .cake-title,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cake-earned-title .cake-title {
  color: var(--colors-secondary);
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cake-earned-title .earned-title,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cake-earned-title .earned-title {
  color: var(--colors-textSubtle);
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cont2,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cont2 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cont2 h2,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cont2 h2 {
  font-size: 20px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cont2 .btn-harvest,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .cake-earned-cont .cont2 .btn-harvest {
  text-decoration: none;
  border: none;
  background-color: var(--colors-backgroundDisabled);
  border-radius: 15px;
  width: 100px;
  height: 45px;
  font-weight: bold;
  color: var(--color-textDisabled);
  border-color: var(--colors-backgroundDisabled);
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--colors-input);
  border-radius: 15px;
  padding: 10px;
  margin-top: 8px;
  min-height: 130px;
  width: 49%;
  color: var(--colors-textSubtle);
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost .title-yield,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost .title-yield {
  font-size: 12px;
  margin-top: 10px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost h2,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost h2 {
  font-size: 20px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost .title-para,
.total-cont button .accordion-collapse .accordion-body .cont-coll .double-cont .yield-boost .title-para {
  font-size: 10px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .cont-btn,
.total-cont button .accordion-collapse .accordion-body .cont-coll .cont-btn {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--colors-input);
  border-radius: 15px;
  height: 90px;
  gap: 5px;
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .cont-btn .title-cont-btn,
.total-cont button .accordion-collapse .accordion-body .cont-coll .cont-btn .title-cont-btn {
  padding-left: 10px;
  color: var(--colors-textSubtle);
}
.total-cont .accordion .accordion-collapse .accordion-body .cont-coll .cont-btn .btn-wallet-coll,
.total-cont button .accordion-collapse .accordion-body .cont-coll .cont-btn .btn-wallet-coll {
  width: 98%;
  align-self: center;
  background-color: var(--colorsPrimary);
  height: 45px;
  border-radius: 15px;
  border: none;
  color: var(--colors-invertedContrast);
  font-weight: bold;
}

@media screen and (max-width: 980px) {
  .total-cont .accordion .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted {
    display: none;
    margin: auto;
  }
}
@media screen and (max-width: 910px) {
  .cont-liqui {
    display: none;
  }
  .cont-multi {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .total-cont .accordion .accordion-item .accordion-table .accordion-header button,
.total-cont button .accordion-item .accordion-table .accordion-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .total-cont .accordion .accordion-item .accordion-table .accordion-header button .cont-t-c,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c {
    gap: 5px;
  }
  .total-cont .accordion .accordion-item .accordion-table .accordion-header button .cont-t-c .cont-core-boosted,
.total-cont .accordion .accordion-item .accordion-table .accordion-header button .cont-t-c button .accordion-table .cont-t-c .cont-core-boosted,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c .cont-core-boosted,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-t-c button .accordion-table .cont-t-c .cont-core-boosted {
    display: flex;
  }
  .total-cont .accordion .accordion-item .accordion-table .accordion-header button .cont-media-2,
.total-cont button .accordion-item .accordion-table .accordion-header .cont-media-2 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
  .total-cont .accordion .accordion-item .accordion-table .accordion-header button::after,
.total-cont button .accordion-item .accordion-table .accordion-header button::after {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .total-cont .accordion .accordion-collapse .accordion-body,
.total-cont button .accordion-collapse .accordion-body {
    flex-direction: column-reverse;
    height: 100%;
  }
}/*# sourceMappingURL=farmsAccordion.css.map */