.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid var(--colors-cardBorder);
  background-color: var(--colors-backgroundAlt);
  // position: fixed;
  // width: 100vw;
}

.main-menu-nav {
  display: flex;
  max-width: fit-content;
  justify-content: flex-start;
  align-items: center;
  color: var(--colors-textSubtle);
  background-color: var(--colors-backgroundAlt);
  height: 56px;
}

.pancake-logo {
  height: 32px;
  width: 32px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  & > button {
    margin-left: 20px;
  }

  & .user-wrapper {
    margin-right: 10px;
    display: flex;
    gap: 3px;

    & .user-icon {
      width: 24px;
      height: 24px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }

    & .user-name {
      margin-bottom: 0px;
      color: var(--colors-textSubtle);
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 968px) {
  .pancake-logo {
    height: 25px;
    width: 160px;
  }
}
