.trade-orders-card {
    // min-width: 326px;
    // max-width: 376px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(231, 227, 235);
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
    margin-top: 0px;
    align-self: flex-start;
    border-top-left-radius: 16px;
    height: fit-content;
    
    

    & header {
        display: flex;
        justify-content: space-between;
        background-color: rgb(238, 234, 244);
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;

        & button {
            padding: 0 25px;
            flex: 1 1 auto;
            font-weight: 600;
            color: rgb(122, 110, 170);
            padding: 10px 0px;
            text-align: center;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;

        }

        & button:first-child {
            color: rgb(40, 13, 95);
            background-color: #fff;

        }
    }

    & .orders-content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(189, 194, 196);

        & > img {
            width: 64px;
            height: 64px;
        }
    }

    & .orders-scroll {
        padding: 32px;
        display: flex;
        justify-content: center;
        cursor: pointer;

        & span {
            margin: 0px 20px;
        }
    }

}

