.trade-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media screen and (min-width: 852px) {
    .trade-footer-wrapper {
        min-width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
}