.trade-card-header {
    padding: 24px;
    border-bottom: 1px solid var(--colors-cardBorder);
    flex-direction: column;


    .trade-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        & .trade-item > button {
            margin-right: auto;
            outline: none;
        }

        & .trade-item-2 {
            width: 100%;
            padding-left: 40px;
            
        
            & > h2 {
                color: var(--colors-text);
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                font-size: 20px;
                text-transform: capitalize;
                margin-bottom: 0px;
                text-align: center;
            }
        }

      

        & .trade-icons-right {
            display: flex;
            justify-content: space-around;
            align-items: center;
       
            & > button {
                margin: 3px;
                outline: none;
            }
        }
    }
& > h3 {
    color: var(--colors-textSubtle);
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    }
}