@mixin container2($partenza, $distanza) {
  @keyframes bitcoin-biscuit {
    0%,
    100% {
      transform: translateX($partenza) translateY($partenza);
    }

    50% {
      transform: translateX($distanza) translateY($distanza);
    }
  }
}

.background-content-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 980px;
  background: var(--colors-gradientPurple);
  z-index: -1;

  .container-1 {
    padding: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 150px;

    svg {
      margin-bottom: 25px;
    }

    h2 {
      font-weight: 600;
      color: var(--colors-text);
      line-height: 1.1;
      font-size: 45px;
      text-align: center;
      margin-bottom: 30px;
    }

    h4 {
      line-height: 1.5;
      color: var(--colors-textSubtle);
      font-size: 18px;
      font-weight: lighter;
      margin-bottom: 25px;
      text-align: center;
    }

    h3 {
      color: var(--colors-textSubtle);
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
  }

  .cards-section1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    height: 350px;

    .card-section1 {
      width: 300px;
      height: 300px;
      background-color: var(--colors-backgroundAlt);
      border-radius: 24px;
      border: 2px solid var(--colors-cardBorder);
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-family: "Kanit", sans-serif;
      position: relative;
      box-shadow: 0px 3px var(--colors-cardBorder);

      .svg {
        width: 36px;
        position: absolute;
        right: 30px;
        top: 30px;

        .svg1 {
          fill: rgb(118, 69, 217);
        }
      }

      h2 {
        font-weight: 600;
        font-size: 43px;
        color: var(--colors-text);

        &:nth-child(2) {
          color: rgb(118, 69, 217);
          position: relative;
          bottom: 15px;
        }
      }

      p {
        margin-bottom: -5px;
        font-size: 16px;
        color: var(--colors-textSubtle);
      }
    }

    .card-section1:nth-of-type(2) {
      h2 {
        font-size: 43px;
        color: var(--colors-text);
        font-weight: 600;

        &:nth-child(2) {
          color: #1fc7d4;
          position: relative;
          bottom: 15px;
        }
      }
    }

    .card-section1:nth-of-type(3) {
      h2 {
        font-size: 43px;
        color: var(--colors-text);
        font-weight: 600;

        &:nth-child(2) {
          color: #ed4b9e;
          position: relative;
          bottom: 15px;
        }
      }
    }
  }
}

.wrapper-svg {
  svg {
    background-color: var(--colors-svg);
    fill: var(--colors-background);
    transform: rotate(180deg);
    width: 100%;
    height: 29px;
  }
}

// ---------------------------- MEDIA QUERIES -----------------------------//

@media screen and (max-width: 1050px) and (min-width: 859px) {
  .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: linear-gradient(white, rgb(118, 69, 217, 30%));

    .cards-section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 20px;

      .card-section1 {
        width: 263px;
        height: 263px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Kanit", sans-serif;
        position: relative;

        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: rgb(118, 69, 217);
            position: relative;
            bottom: 15px;
          }
        }
      }
      .card-section1:nth-of-type(2) {
        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: #1fc7d4;
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(3) {
        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: #ed4b9e;
            position: relative;
            bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 858px) and (min-width: 426px) {
  .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1500px;

    .cards-section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      height: 600px;

      .card-section1 {
        width: 300px;
        height: 166px;
        border-radius: 24px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Kanit", sans-serif;
        position: relative;
        padding-top: 155px;

        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: rgb(118, 69, 217);
            // position: relative;
            // bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(2) {
        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: #1fc7d4;
            // position: relative;
            // bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(3) {
        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: #ed4b9e;
            // position: relative;
            // bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) and (min-width: 376px) {
  .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1400px;

    .cards-section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      height: 600px;

      .card-section1 {
        width: 300px;
        height: 166px;
        border-radius: 24px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Kanit", sans-serif;
        position: relative;

        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: rgb(118, 69, 217);
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(2) {
        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: #1fc7d4;
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(3) {
        h2 {
          font-size: 35px;
          color: rgb(40, 13, 95);

          &:nth-child(2) {
            color: #ed4b9e;
            position: relative;
            bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) and (min-width: 321px) {
  .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1400px;

    .cards-section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      height: 600px;

      .card-section1 {
        width: 300px;
        height: 166px;
        border-radius: 24px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Kanit", sans-serif;
        position: relative;

        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: rgb(118, 69, 217);
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(2) {
        h2 {
          font-size: 35px;

          &:nth-child(2) {
            color: #1fc7d4;
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(3) {
        h2 {
          font-size: 35px;
          color: rgb(40, 13, 95);

          &:nth-child(2) {
            color: #ed4b9e;
            position: relative;
            bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .background-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1400px;

    .cards-section1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      height: 600px;

      .card-section1 {
        width: 85vw;
        height: 166px;
        border-radius: 24px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: "Kanit", sans-serif;
        position: relative;

        h2 {
          font-size: 33px;

          &:nth-child(2) {
            color: rgb(118, 69, 217);
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(2) {
        h2 {
          font-size: 33px;

          &:nth-child(2) {
            color: #1fc7d4;
            position: relative;
            bottom: 15px;
          }
        }
      }

      .card-section1:nth-of-type(3) {
        h2 {
          font-size: 33px;

          &:nth-child(2) {
            color: #ed4b9e;
            position: relative;
            bottom: 15px;
          }
        }
      }
    }
  }
}
