.accordion,
button {
    width: 95%;
    margin: auto;
    align-items: center;
    .accordion-table {
        display: flex;
        flex-direction: row;
        width: 1200px;
        align-items: center;
        .title-accordion {
            display: flex;
            gap: 5px;
            width: 200px;
            margin-top: 5px;
            .cont-title-p {
                .title-p {
                    color: rgb(40, 13, 95);
                    font-weight: bold;
                    font-size: large;
                }
                .title-p2 {
                    font-size: 10px;
                }
            }
            .title-icon {
                img {
                    width: 25px;
                }
            }
        }
        .cont-core-boosted2 {
            display: flex;
            flex-direction: column;
            width: 190px;
            gap: 0px;
            .p1 {
                font-size: 12px;
                color: rgb(126, 121, 173);
            }
            .p2 {
                font-size: 20px;
                font-weight: bold;
                color: rgb(189, 194, 198);
            }
            .p3 {
                font-size: 12px;
                color: rgb(189, 194, 198);
            }
        }
        .cont-earned2 {
            color: rgb(138, 127, 180);
            width: 150px;
            .earned2 {
                font-size: 12px;
            }
            .earned-perc2 {
                color: rgb(40, 13, 95);
                font-weight: 600;
            }
        }
        .cont-apr-up2 {
            display: flex;
            width: 150px;
            .cont-apr2 {
                display: flex;
                flex-direction: column;
                color: rgb(40, 13, 95);
                gap: 0px;
                .apr2 {
                    display: flex;
                    color: rgb(138, 127, 180);
                    font-size: 12px;
                }
                .number2 {
                    font-weight: 600;
                }
            }
            .cont-n-up-to2 {
                display: flex;
                flex-direction: row;
                color: rgb(64, 212, 176);
                font-weight: bold;
                margin-top: 23px;
                width: 200px;
                .number {}
                .up-to-perc2 {
                    display: flex;
                    gap: 5px;
                    .up-to2 {
                        display: flex;
                        width: 65px;
                    }
                    .up-to2 {
                        display: none;
                    }
                    .perc2 {
                        display: none;
                    }
                }
            }
        }
        .cont-liqui2 {
            width: 150px;
            .liquidity2 {
                color: rgb(138, 127, 180);
                font-size: 12px;
            }
            .price-cont2 {
                display: flex;
                flex-direction: row;
                gap: 10px;
                color: rgb(40, 13, 95);
                font-weight: bold;
                .cash-svg {}
            }
        }
        .cont-multi2 {
            width: 150px;
            color: rgb(138, 127, 180);
            font-weight: bold;
            .n-x-svg2 {
                color: rgb(40, 13, 95);
            }
        }
    }
    .accordion-collapse {
        height: 200px;
        background-color: rgb(246, 246, 246);
        .accordion-body2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            .left-cont2 {
                display: flex;
                flex-direction: column;
                width: 350px;
                font-size: 12px;
                .cont-total2 {
                    display: flex;
                    justify-content: space-around;
                }
                .cont-ave {
                    display: flex;
                }
            }
            .cont-coll {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 50px;
                .double-cont {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    .cake-earned-cont {
                        margin-top: 8px;
                        width: 48%;
                        border: 1px solid;
                        border-radius: 15px;
                        height: 110%;
                        padding: 10px;
                        color: rgb(125, 113, 172);
                        font-weight: bold;
                        .cont2 {
                            display: flex;
                            flex-direction: row;
                            margin-top: 15px;
                            justify-content: space-between;
                            .btn-harvest {
                                text-decoration: none;
                                border: none;
                                background-color: gray;
                                border-radius: 15px;
                                width: 100px;
                                font-weight: bold;
                                color: lightgrey;
                            }
                        }
                    }
                    .yield-boost {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid;
                        border-radius: 15px;
                        padding: 10px;
                        margin-top: 8px;
                        height: 110%;
                        width: 49%;
                        color: rgb(136, 125, 179);
                    }
                }
                .cont-btn {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid;
                    border-radius: 15px;
                    height: 90px;
                    gap: 5px;
                    .title-cont-btn {
                        padding-left: 10px;
                    }
                    .btn-wallet-coll {
                        width: 98%;
                        align-self: center;
                        background-color: rgb(31, 199, 212);
                        height: 45px;
                        border-radius: 15px;
                        border: none;
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}