.total-cont-back {
  background: var(--colors-background);
}
.total-cont-back .accordion,
.total-cont-back button {
  width: 90%;
  margin: auto;
}
.total-cont-back .accordion .accordion-item,
.total-cont-back button .accordion-item {
  background: var(--colors-dropdown);
  border: none;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool,
.total-cont-back button .accordion-item .accordion-table-pool {
  background: var(--colors-dropdown);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header {
  border-color: var(--colors-dropdown);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header button,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header button {
  margin-left: 0px;
  align-content: center;
  gap: 35px;
  background: var(--colors-dropdown);
  border-top-left-radius: var(--colors-dropdown);
  border-top-right-radius: var(--colors-dropdown);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header button:focus,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header button:focus {
  border-color: none;
  box-shadow: none;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header button::after,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header button::after {
  background-image: var(--bs-accordion-btn-active-icon);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool {
  display: flex;
  gap: 5px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .cont-title-p-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .cont-title-p-pool {
  min-width: 70px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .cont-title-p-pool .title-p-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .cont-title-p-pool .title-p-pool {
  color: var(--colors-text);
  font-weight: bold;
  font-size: large;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .cont-title-p-pool .title-p-pool2,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .cont-title-p-pool .title-p-pool2 {
  font-size: 10px;
  color: var(--colors-text);
  flex-wrap: wrap;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .title-icon-pool .icon-acc2-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .title-icon-pool .icon-acc2-pool {
  border: 1px solid;
  border-radius: 50%;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .title-icon-pool .icon-acc2-pool img,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .title-accordion-pool .title-icon-pool .icon-acc2-pool img {
  width: 32px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  gap: 0px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool .p1-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool .p1-pool {
  font-size: 12px;
  color: var(--colors-textSubtle);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool .p2-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool .p2-pool {
  font-size: 20px;
  font-weight: bold;
  color: var(--colors-textDisabled);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool .p3-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-core-boosted2-pool .p3-pool {
  font-size: 12px;
  color: var(--colors-textDisabled);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-earned-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-earned-pool {
  color: rgb(138, 127, 180);
  min-width: 150px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-earned-pool .earned-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-earned-pool .earned-pool {
  font-size: 12px;
  color: var(--colors-textSubtle);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-earned-pool .earned-pool-perc,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-earned-pool .earned-pool-perc {
  color: var(--colors-text);
  font-weight: 600;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up {
  display: flex;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up .cont-apr-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up .cont-apr-pool {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  color: var(--colors-textSubtle);
  gap: 0px;
  flex-wrap: wrap;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up .cont-apr-pool .apr-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up .cont-apr-pool .apr-pool {
  display: flex;
  color: var(--colors-text);
  font-size: 12px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up .cont-apr-pool .number-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-apr-pool-up .cont-apr-pool .number-pool {
  font-weight: 600;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-liqui-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-liqui-pool {
  min-width: 130px;
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-liqui-pool .liquidity-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-liqui-pool .liquidity-pool {
  font-size: 12px;
  color: var(--colors-text);
}
.total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header .cont-liqui-pool .price-cont-pool,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header .cont-liqui-pool .price-cont-pool {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--colors-textSubtle);
  font-weight: bold;
}
.total-cont-back .accordion .accordion-collapse,
.total-cont-back button .accordion-collapse {
  height: 200px;
  background-color: rgb(246, 246, 246);
}
.total-cont-back .accordion .accordion-collapse .accordion-body2,
.total-cont-back button .accordion-collapse .accordion-body2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .left-cont2,
.total-cont-back button .accordion-collapse .accordion-body2 .left-cont2 {
  display: flex;
  flex-direction: column;
  width: 350px;
  font-size: 12px;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .left-cont2 .cont-total2,
.total-cont-back button .accordion-collapse .accordion-body2 .left-cont2 .cont-total2 {
  display: flex;
  justify-content: space-around;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .left-cont2 .cont-ave,
.total-cont-back button .accordion-collapse .accordion-body2 .left-cont2 .cont-ave {
  display: flex;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .double-cont,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .double-cont {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .double-cont .cake-earned-cont,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .double-cont .cake-earned-cont {
  margin-top: 8px;
  width: 48%;
  border: 1px solid;
  border-radius: 15px;
  height: 110%;
  padding: 10px;
  color: rgb(125, 113, 172);
  font-weight: bold;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .double-cont .cake-earned-cont .cont2,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .double-cont .cake-earned-cont .cont2 {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-between;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .double-cont .cake-earned-cont .cont2 .btn-harvest,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .double-cont .cake-earned-cont .cont2 .btn-harvest {
  text-decoration: none;
  border: none;
  background-color: gray;
  border-radius: 15px;
  width: 100px;
  font-weight: bold;
  color: lightgrey;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .double-cont .yield-boost,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .double-cont .yield-boost {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-top: 8px;
  height: 110%;
  width: 49%;
  color: rgb(136, 125, 179);
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .cont-btn,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .cont-btn {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 15px;
  height: 90px;
  gap: 5px;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .cont-btn .title-cont-btn,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .cont-btn .title-cont-btn {
  padding-left: 10px;
}
.total-cont-back .accordion .accordion-collapse .accordion-body2 .cont-coll .cont-btn .btn-wallet-coll,
.total-cont-back button .accordion-collapse .accordion-body2 .cont-coll .cont-btn .btn-wallet-coll {
  width: 98%;
  align-self: center;
  background-color: rgb(31, 199, 212);
  height: 45px;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .cont-liqui-pool {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .cont-earned-pool {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .total-cont-back .accordion .accordion-item .accordion-table-pool .accordion-header button,
.total-cont-back button .accordion-item .accordion-table-pool .accordion-header button {
    gap: 0px;
  }
}/*# sourceMappingURL=accordionPool.css.map */