.farms_header {
    background-color: rgb(233, 249, 255);
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    .first_title_cont-2 {
        display: flex;
        color: var(--colors-secondary);
        flex-direction: column;
        justify-content: space-around;
        font-weight: bold;
        width: 40%;
        h1 {
            font-size: 70px;
            font-weight: bolder;
        }
    }
}