.farms_header {
  background-color: rgb(233, 249, 255);
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  .first_title_cont-2 {
    display: flex;
    color: var(--colors-secondary);
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    width: 60%;

    h1 {
      font-size: 63px;
      font-weight: bolder;
    }

    h3 {
      font-size: 16px;
      font-weight: bold;
      color: var(--colors-text);
    }
  }
}

@media (min-width: 576px) {
  .farms_header > .first_title_cont-2 > div > h3 {
    font-size: 24px;
  }
}
