.cont-total-2 {
    background: var(--colors-background);
    padding: 10px;
    .farms_caption2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        min-height: 90px;
        align-items: center;
        .farms_caption_order2 {
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            .icon-ham {}
            .farms_caption_staked {
                display: flex;
                flex-direction: row;
                width: 150px;
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                }
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    background-color: var(--colors-input);
                }
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--colors-input);
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    top: 2px;
                    left: 0px;
                    background-color: var(--colors-backgroundAlt);
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                input:checked+.slider {
                    background-color: rgb(49, 208, 170);
                }
                input:focus+.slider {
                    box-shadow: 0 0 1px rgb(49, 208, 170);
                }
                input:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
                .slider.round {
                    border-radius: 34px;
                }
                .slider.round:before {
                    border-radius: 50%;
                }
            }
            .farms_caption_live {
                display: flex;
            }
        }
        .cont-input {
            display: flex;
            gap: 15px;
            .farms_caption_sort {
                display: flex;
                flex-direction: column;
            }
            .farms_caption_search {
                display: flex;
                flex-direction: column;
            }
            #sort {
                border-radius: 15px;
                width: 130px;
                height: 35px;
                background-color: var(--colors-input);
                color: var(--colors-text);
                font-weight: bold;
                border: 1px solid var(--colors-inputSecondary);
            }
            #search {
                border-radius: 15px;
                width: 200px;
                height: 35px;
                background-color: var( --colors-input);
                font-weight: bold;
                color: var(--colors-text);
                border: 1px solid var(--colors-inputSecondary);
            }
        }
    }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .farms_caption2 {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}

$breakpoint-tablet: 500px;
@media (max-width: $breakpoint-tablet) {
    .farms_caption_order2 {
        flex-wrap: wrap;
    }
    .cont-input {
        flex-wrap: wrap;
    }
}