@mixin container2($partenza, $distanza) {
  @keyframes bitcoin-biscuit {
    0%,
    100% {
      transform: translateX($partenza) translateY($partenza);
    }

    50% {
      transform: translateX($distanza) translateY($distanza);
    }
  }
}

.background-content-3 {
  .svg-border-grey {
    fill: rgb(255, 255, 255);
    width: 100vw;
    position: absolute;
    top: 0;
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 450px;
  background-color: rgb(122, 110, 170, 10%);
  padding-top: 90px;

  .container-3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 1350px;
    height: 500px;
    flex-direction: row-reverse;
    gap: 5%;
    margin-top: 100px;

    .container-text {
      justify-content: center;
      width: 500px;
      display: flex;
      flex-direction: column;

      .earn {
        display: inline;
        color: rgb(118, 69, 217);
      }

      h2 {
        color: rgb(40, 13, 95);
        line-height: 1.3;
        font-size: 45px;
        font-weight: 600;
      }

      h4 {
        color: rgb(122, 110, 170);
        font-size: 18px;
        font-weight: lighter;
        margin-top: 30px;
      }

      .buttons-earn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 20px;

        a {
          font-weight: 600;
          color: rgb(31, 199, 212);
          font-size: 18px;
          margin-left: 10px;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .img-container {
      width: 500px;
      position: relative;
      display: flex;
      flex-direction: row;

      & .earn-1 {
        z-index: 1;
        @include container2(0, -15px);
        animation-duration: 6000ms;
        animation-delay: 500ms;
        animation-name: bitcoin-biscuit;
        animation-iteration-count: infinite;
      }

      & .earn-2 {
        @include container2(0, -15px);
        animation-duration: 6000ms;
        animation-delay: 1500ms;
        animation-name: bitcoin-biscuit;
        animation-iteration-count: infinite;
      }

      & .earn-3 {
        z-index: -1;
        @include container2(0, -15px);
        animation-duration: 6000ms;
        animation-name: bitcoin-biscuit;
        animation-iteration-count: infinite;
      }

      & img {
        position: absolute;
        width: 100%;
      }
    }
  }
}

.background-content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding-top: 70px;
  width: 100vw;
  background-color: rgb(122, 110, 170, 10%);

  .container-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 55px;
    width: 80%;
    height: 170px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 200px;
      position: relative;

      .button-data {
        right: 0;
        position: absolute;
        margin-top: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    span {
      display: inline;
      font-size: 23px;
      color: rgb(118, 69, 217);
      font-weight: 600;
    }

    h2 {
      margin-top: 25px;
      margin-bottom: 5px;
      font-size: 23px;
      color: rgb(40, 13, 95);
      font-weight: 600;
    }

    .group-section {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .group1 {
        height: 110px;
        width: 230px;
      }

      .group-border {
        height: 110px;
        width: 230px;
        border-left: 1px solid rgb(118, 69, 217, 35%);
        padding-left: 15px;
      }

      h2 {
        font-size: 13px;
        color: rgb(118, 69, 217);
        font-weight: 600;
      }

      h3 {
        font-size: 13px;
        color: rgb(40, 13, 95);
        font-weight: 600;
      }

      h4 {
        font-size: 18px;
        color: rgb(122, 110, 170);
        font-weight: lighter;
      }
    }
  }
}

// ---------------------------- MEDIA QUERIES -----------------------------//

@media screen and (max-width: 1050px) and (min-width: 859px) {
  .background-content-3 {
    .container-3 {
      display: flex;
      justify-content: center;
      padding-top: 150px;
      padding: 20px;
      width: 95vw;
    }
  }

  .background-content-data {
    .container-data {
      width: 90%;
    }
  }
}

@media screen and (max-width: 858px) and (min-width: 426px) {
  .background-content-3 {
    .container-3 {
      height: fit-content;
      flex-direction: column-reverse;
      width: 100%;
      padding: 20px;

      .container-text {
        padding: 0;
        padding-left: 15px;
        width: 90vw;
        height: fit-content;

        h2 {
          font-size: 33px;
        }

        h4 {
          font-size: 17px;
        }
      }

      .img-container {
        height: 220px;
        width: 100%;

        & img {
          right: 0;
          width: 220px;
        }
      }
    }
  }

  .background-content-data {
    height: 700px;
    padding-top: 100px;
    background-color: rgb(122, 110, 170, 10%);

    .container-data {
      .group-section {
        .group1 {
          width: 230px;
        }
        .group-border {
          border: none;
          padding-left: 0;
        }
        width: 230px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .fourth {
          grid-column: 1;
          grid-row: 3;
        }

        .fifth {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .background-content-data {
    height: 700px;
    padding-top: 100px;
    background-color: rgb(122, 110, 170, 10%);

    .container-data {
      .group-section {
        width: 110%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .group1 {
          width: 55%;
        }
        .group-border {
          width: 55%;
          border: none;
          padding-left: 0;
        }

        .fourth {
          grid-column: 1;
          grid-row: 3;
        }

        .fifth {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) and (min-width: 376px) {
  .background-content-3 {
    .container-3 {
      height: fit-content;
      flex-direction: column-reverse;
      width: 100%;
      padding: 20px;

      .container-text {
        padding: 0;
        padding-left: 15px;
        width: 95vw;
        height: fit-content;

        h2 {
          font-size: 33px;
        }
      }

      .img-container {
        height: 220px;
        width: 100%;

        & img {
          left: unset;
          right: 0;
          width: 220px;
        }
      }
    }
  }

  .background-content-data {
    background-color: rgb(122, 110, 170, 10%);

    .container-data {
      .group-section {
        .group-border {
          border: none;
          padding-left: 0;
        }
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .fourth {
          grid-column: 1;
          grid-row: 3;
        }

        .fifth {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) and (min-width: 321px) {
  .background-content-3 {
    .container-3 {
      height: fit-content;
      flex-direction: column-reverse;
      width: 100%;
      padding: 20px;

      .container-text {
        padding: 0;
        padding-left: 20px;
        width: 95vw;
        height: fit-content;

        h2 {
          font-size: 33px;
        }

        h4 {
          font-size: 17px;
        }
      }

      .img-container {
        height: 220px;
        width: 100%;

        & img {
          left: unset;
          right: 0;
          width: 220px;
        }
      }
    }
  }

  .background-content-data {
    background-color: rgb(122, 110, 170, 10%);

    .container-data {
      .group-section {
        .group-border {
          border: none;
          padding-left: 0;
        }
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .fourth {
          grid-column: 1;
          grid-row: 3;
        }

        .fifth {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .background-content-3 {
    .container-3 {
      height: fit-content;
      flex-direction: column-reverse;
      width: 100%;
      padding: 20px;

      .container-text {
        padding: 0;
        width: 90vw;
        height: fit-content;

        h2 {
          font-size: 33px;
        }

        h4 {
          font-size: 15px;
        }
      }

      .img-container {
        height: 220px;
        width: 100%;

        & img {
          left: unset;
          right: 0;
          width: 220px;
        }
      }
    }
  }

  .background-content-data {
    background-color: rgb(122, 110, 170, 10%);

    .container-data {
      .group-section {
        .group-border {
          border: none;
          padding-left: 0;
        }
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .fourth {
          grid-column: 1;
          grid-row: 3;
        }

        .fifth {
          grid-column: 2;
          grid-row: 3;
        }
      }
    }
  }
}
