.content-external {
  display: flex;
  flex-direction: column;

  & header .close-btn {
    position: absolute;
    top: -1%;
    right: -2%;
    width: 48px;
    height: 48px;
    outline: none;

    & > img {
      width: 20px;
      height: 20px;
    }
  }

  & .values-content {
    padding: 12px 24px 0px 24px;
    display: flex;
    flex-direction: column;

    & .mkt-value-updates {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      & input {
        color: var(--colors-text);
      }

      & .search-input-currency {
        font-size: 16px;
        text-align: left;
        border: none;
        padding: 12px 9px;
        border-radius: 16px;
        background-color: var(--colors-input);
        box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
        outline: none;
        margin-bottom: 20px;
        display: flex;
        width: 80%;
      }
      & .coin-details {
        margin-left: 15px;
      }
    }

    & .graph > .graph-canva {
      max-height: 300px;
      margin-top: 100px;
    }

    & .graph > .date > span {
      color: var(--colors-textDisabled);
      font-weight: 400;
      line-height: 1.5;
      font-size: 14px;
    }

    & .graph > .timeframes {
      // background-color: var(--colors-tertiary);
      background-color: transparent;
      border-radius: 16px;
      display: flex;
      border: 1px solid var(--colors-cardBorder);
      min-width: 300px;
      cursor: pointer;
      height: 32px;
      justify-content: space-around;
      margin-bottom: 10px;
      margin-top: 20px;

      & button {
        border-radius: 16px;
        padding: 0px 25px;
        letter-spacing: 0.03em;
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        color: var(--colors-primary);
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
        outline: none;

        &:hover {
          opacity: 0.65;
        }

        &:focus {
          background-color: var(--colors-primary);
          color: white;
          width: 25%;
          height: 100%;
        }

        &:active {
          transform: translateY(1px);
        }

        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .content-external {
    display: flex;
    flex-direction: column;

    & header .close-btn {
      position: absolute;
      top: -1%;
      right: -2%;
      width: 48px;
      height: 48px;
      outline: none;

      & > img {
        width: 20px;
        height: 20px;
      }
    }

    & .values-content {
      padding: 12px 24px 0px 24px;
      display: flex;
      flex-direction: column;

      & .mkt-value-updates {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        & .search-input-currency {
          font-size: 16px;
          text-align: left;
          border: none;
          padding: 12px 9px;
          border-radius: 16px;
          box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
          outline: none;
          margin-bottom: 20px;
          display: flex;
          width: 80%;
        }
        & .coin-details {
          margin-left: 15px;
        }
      }

      & .graph > .graph-canva {
        max-height: 300px;
        margin-top: 30px;
      }

      & .graph > .date > span {
        color: rgb(118, 69, 217);
        font-weight: 400;
        line-height: 1.5;
        font-size: 14px;
      }

      & .graph > .timeframes {
        border-radius: 16px;
        display: flex;
        min-width: 300px;
        cursor: pointer;
        height: 32px;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 20px;

        & button {
          border-radius: 16px;
          padding: 0px 25px;
          letter-spacing: 0.03em;
          line-height: 1;
          font-size: 16px;
          font-weight: 600;
          color: rgb(31, 199, 212);
          border: none;
          cursor: pointer;
          outline: none;

          &:hover {
            opacity: 0.65;
          }

          &:active {
            transform: translateY(1px);
          }

          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

//   @media screen and (min-width: 576px) {
//     .card-graph-container {
//       /* display: none; */
//       display: flex;
//       position: relative;
//       margin-right: 20px;
//       flex-grow: 1;
//       border-radius: 16px;
//       background: rgba(255, 255, 255, 0.5);
//     }
//     .card-graph-container .graph-data {
//       height: 279px;
//     }
//   }
